extends ../layouts/common
block   content
    form
        .form-row
            .form-group.col-md-6
                label(for='inputEmail4') User Name
                input#input4.form-control(type='text', placeholder='Name')
            .form-group.col-md-6
                label(for='inputPassword4') Password
                input#inputPassword4.form-control(type='password', placeholder='Password')
        .form-group
                label(for='inputAddress') Email
                input#inputEmail4.form-control(type='email', placeholder='Email')
        .form-group
            .form-check
                input#gridCheck.form-check-input(type='checkbox')
                label.form-check-label(for='gridCheck')
                | Check me out
        button.btn.btn-primary(type='submit') Sign in
        