html
    head
        //- link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
        //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/css.css')
        link(rel='stylesheet', href='/css/store.css', type='text/css')
        link(rel='stylesheet', href='/css/chitiet.css', type='text/css')
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css",integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")

        // load bootstrap css
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')



    body.portal
        #app
            .wrapper
                header.main-header
                    .container-header
                        .container
                            .header-content.navbar.row.justify-content-between.align-items-center
                                .logo-now.col-auto
                                    span
                                        a(href='/')
                                            img(src='', alt='Hi')
                                .select-local.col-auto
                                    .dropdown
                                        #local-dropdown.dropdown-toggle(role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') TP. HCM
                                        .dropdown-menu
                                            .dropdown-item
                                                span.name.col TP. HCM
                                .main-nav.col
                                    span.nav-item.active Sách
                                    span.nav-item Điện Thoại
                                    span.nav-item Máy Tính Bảng  
                                    span.nav-item Sản Phẩm
                                    a.nav-item(href='/User') User
                                    a.nav-item(href='/profile') Profile
                                .header-icon-search.col-auto
                                    span(data-toggle='modal', data-target='#modal-search')
                                        span.icon.icon-search-dark
                                .user-acc.col-auto
                                    if !user
                                        a.btn.btn-none-bg.btn-login(href='/login') Đăng Nhập
                                    else
                                        .user-acc.col-auto
                                            .dropdown
                                                .dropdown-toggle(role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                                    a.name(href="/logout")= user.name
                                                    .img
                                                        img(src="/" + user.image , alt= user.name)
                                                    
                                                //- .dropdown-menu(aria-labelledby='user-dropdown')
                                                //-     a(href='#')
                                                //-         .dropdown-item
                                                //-             span.icon.icon-user-update
                                                //-             span.text Tông tin tài khoảng
                                                //-     .dropdown-item
                                                //-             span.icon.icon-user-logout
                                                //-             span.text Đăng xuất
                                       
                    //- #modal-search.modal.fade.modal-search(tabindex='-1', role='dialog', style='display: none;', aria-hidden='true')
                    //-     .modal-dialog(role='document')
                    //-         .modal-content
                    //-             span.close(data-dismiss='modal') x
                    //-             .modal-search-form
                    //-                 span.sub-title tim kim ngay
                    //-                 input.search-input(type='text',name = 'q', value='')

                        
                

                //- ------------------------------------------------------------------------------------
                block content
                //- .container
                    block content 
                //- // Footer
            footer.main-footer
                .container
                    .container-inner
                        ul.list-unstyled.list-inline.text-center
                            li.list-inline-item
                                a.btn-floating.btn-fb.mx-1
                                    i.fa.fa-facebook  
                            li.list-inline-item
                                a.btn-floating.btn-tw.mx-1
                                    i.fa.fa-twitter  
                            li.list-inline-item
                                a.btn-floating.btn-gplus.mx-1
                                    i.fa.fa-google-plus  
                            li.list-inline-item
                                a.btn-floating.btn-li.mx-1
                                    i.fa.fa-linkedin  
                            li.list-inline-item
                                a.btn-floating.btn-dribbble.mx-1
                                    i.fa.fa-dribbble  
                    // Copyright
                    .footer-copyright.text-center.py-3
                        | &copy; 2018 Copyright:
                    // Copyright
                // Footer


