extends ./layouts/common

block  content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    //- .container.pt-1
    //-     nav.navbar.navbar-expand-lg.navbar-light.bg-light
    //-         form.form-inline.my-2.my-lg-0(action="/search", method="get")
    //-             input.form-control.mr-sm-2(type='search',name = 'q', placeholder='Search', aria-label='Search')
    //-             button(class="btn btn-primary ml-2" ) Search
    //-     nav.navbar.navbar-expand-lg.navbar-light.bg-light
    //-         form.form-inline.my-2.my-lg-0(action="/search", method="get")
    //-             input.form-control.mr-sm-2(type='search',name = 'q', placeholder='Search', aria-label='Search')
    //-             button(class="btn btn-primary ml-2" ) Search
    //-     .form-search
    //-         .input-group
    //-             input#txtSearchHome(type='text', name = 'q', value='')
    //-                 button.btn.btn-search(type='button')
    //-                     span.icon.icon-search
    .container
        .list(style='padding-top: 20px')
            #myCarousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCarousel', data-slide-to='1')
                    li(data-target='#myCarousel', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner
                    .item.active
                        img(src='img/3.jpg', alt='', style='width:100%;')
                    .item
                        img(src='img/2.jpg', alt='', style='width:100%;')
                    .item
                        img(src='img/1.jpg', alt='', style='width:100%;')
                // Left and right controls
                a.left.carousel-control(href='#myCarousel', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left
                    span.sr-only Previous
                a.right.carousel-control(href='#myCarousel', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right
                    span.sr-only Next

    .container
        .main-right-home(style='padding-top: 25px')
                .title
                    | Deal
                    a.view-all-deal(href='#')
                        
                        | Văn Học
                    a.view-all-deal(href='/book:1')
                        span.icon-list-deal
                            span.square
                            span.square
                            span.square
                            span.square
                        | Xem thêm
                .now-list-restaurant.deal-tab            
                    .list-restaurant
                        each val in book
                            .item-restaurant
                                a.item-content(target='_blank', href='/' + val.id)
                                    .img-restaurant
                                        img(src= val.image)
                                    .info-restaurant
                                        .info-basic-res
                                            h4.name-res(title= val.name)= val.name
                                        p.content-promotion
                                            i.fas.fa-tag= val.price +'đ'             
                    .row
                        .col-sm-12.text-center
                            a(href='/book:1') XEM THÊM
    .container(style='padding-top: 20px')
        .now-container-coporation
            h4.title
                span Mô tả sơ sơ
            span
                p.font15
                    |Một cái gì đó.
            img(src='#', alt='Ảnh để đây')
        hr