extends ../layouts/common

block   content

        
    .container
        .d-flex.align-itms-center
            form.ml-auto(action="/User/search", method="get", class="d-flex")
                input(type="text", name="q" ,class="form-control")
                button(class="btn btn-primary ml-2" ) Search
        h1 
            span Hi Admin
            //- a.btn.btn-primary.ml-4(href="/User/create") Create
        table.table
            tr
                th Image
                th Name
                th Phone
                th Roles
                th Actions
            each val in users
                tr
                    td
                        img.avatar-circle(src="/"+ val.image,width="64")
                    td= val.name
                    td= val.phone
                    td= val.role
                    td
                        a.btn.btn-blue(href="/User/" + val.id)  view 
                        a.btn.btn-red(href="/User/delete/" + val.id) delete 
                        //- a.btn.btn-blue(href="/User/edit/" + val.id) edit